.navbar {
    background-color: #581845;
}

.logo {
    height: 30px;
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}

.nav-link {
    color: #FFC300 !important;
}

.active {
    color: #ff5733 !important;
    font-weight: 600 !important;
    
}

.carousel-item img {
    height: 45vh;
    object-fit: cover;
}

h2 {
    text-wrap: wrap !important;
    color: #c70039 !important;
    font-size: 40px !important;
    font-weight: 700 !important;
}

.footer {
    color: #FFC300;
    height: 2vh;
    }

.redes {
    height: 30px;
}

.card{
    background-color: #900c3f !important;
}

.card2{
    height: 450px !important;
    width: 350px;
}

.formBox{
    height: 119px;
}

.card p{
    color: #FFC300
}
.card h5{
    color: #ff5733;
}
.price{
    color: #ff5733 !important;
    
}

.formP{
    color: #ff5733
}

table th, td{
    background-color: #900c3f !important;
    color: white !important;
    padding: 13px !important;
    text-align: center;
}

h3 {
    color: white !important;
    background-color:#581845;
}

.lupa {
    height: 30px
}

.category {
    color: #c70039 !important;
}

.imagenCard{
    height: 250px;
}